<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200&display=swap" rel="stylesheet">
        <style type='text/css'>
            {% include 'userdata/stylecss.css' %}
        </style>
    </head>
    <body>

        <div class="register">
            <div class="title">
                <h1 class="text-center text-white"><b>Recupera tu contraseña</b></h1>
            </div>

            <div class="m-2">
                <p>
                    Hola, hemos recibido solicitud de reseteo de contraseña para la cuenta de email {{email}}.
                     Desde el siguiente botón podrás navegar a la página para completar este proceso.
                </p>

                <a class="btn text-white text-center" href="http://localhost:3000/reset-password-confirm/{{token}}">Confirmar</a>
            </div>

            
        </div>

    </body>
</html>